# Data Tables

**Astropy** has its own tabular data structure that includes some additional functionality for handling astronomical data over other more typical data types. In particular, Astropy tables support units.

If you're doing any 'heavy lifting' with your data (anything that takes a lot of computational power) it's probably worth taking it out of Astropy and using a more dedicated package, such as [Numpy](http://www.numpy.org/) or [Pandas](http://pandas.pydata.org/). However, for astronomy specific unit conversions and certain grouping operations, Astropy tables can be indispensable.

Below we'll go through how to manipulate data in Astropy tables, and convert back and forth between them and Pandas dataframes.

First, we'll import some common libraries as well as the Table library from Astropy

In [5]:
import numpy as np
import pandas as pd

from astropy import units as u
from astropy.table import Table

To initialise a table, call the `Table` function. The masked argument allows for missing values; set to False if you don't require this behaviour.

In [6]:
tab = Table(masked=True)

We can then add some named columns of data.

In [7]:
tab['name'] = ['source 1', 'source 2', 'source 3']
tab['flux'] = [1.2, 2.2, 3.1]
tab

<Table masked=True length=3>
  name     flux
  str8   float64
-------- -------
source 1     1.2
source 2     2.2
source 3     3.1

Units can be added to columns with the `unit` operator

In [8]:
tab['flux'].unit = u.F
tab

<Table masked=True length=3>
  name     flux
            F
  str8   float64
-------- -------
source 1     1.2
source 2     2.2
source 3     3.1

Tables can be subsetted by name or by index, like numpy arrays.

In [10]:
tab['name']

<MaskedColumn name='name' dtype='str8' length=3>
source 1
source 2
source 3

In [11]:
tab[0]

<Row index=0 masked=True>
  name     flux
            F
  str8   float64
-------- -------
source 1     1.2

Tables can also include metadata. Below, we assign a `dict` object via the `meta` function of the table.

In [12]:
tab.meta = {'name': 'first table'}
tab.meta

{'name': 'first table'}

Tables can be displayed in a variety of interactive ways. Below, a dedicated tab with a searchable and sortable javascript table is produced. This is useful for exploring larger datasets.

In [13]:
tab.show_in_browser(jsviewer=True)

Tables can be joined like numpy arrays using the `join` function from the astropy table library.

In [8]:
from astropy.table import join

tab2 = Table()
tab2['name'] = ['source 1', 'source 3']
tab2['flux2'] = [1,9]

tab3 = join(tab, tab2, join_type='outer')
tab3

<Table masked=True length=3>
  name     flux  flux2
  str8   float64 int64
-------- ------- -----
source 1     1.2     1
source 2     2.2    --
source 3     3.1     9

As suggested in the introduction to this notebook, you may wish to convert your table to another data format to take advantage of additional functionality or performance for computationally heavy tasks. The latest version of Astropy provides a couple of functions for converting between Tables and Pandas dataframes, and back again, shown below. Note that the units are lost in the conversion.

In [14]:
df = tab.to_pandas()

In [15]:
t = Table.from_pandas(df)
t

<Table length=3>
  name     flux
  str8   float64
-------- -------
source 1     1.2
source 2     2.2
source 3     3.1