In [1]:
from astropy.table import Table

tab = Table()
tab['name'] = ['source 1', 'source 2', 'source 3']
tab['flux'] = [1.2, 2.2, 3.1]

tab

<Table masked=False length=3>
  name     flux
string64 float64
-------- -------
source 1     1.2
source 2     2.2
source 3     3.1

In [2]:
tab['name']

<Column name='name' dtype='string64' length=3>
source 1
source 2
source 3

In [3]:
np.array(tab)

NameError: name 'np' is not defined

In [4]:
from astropy.table import join

tab2 = Table()
tab2['name'] = ['source 1', 'source 3']
tab2['flux2'] = [1,9]

tab3 = join(tab, tab2, join_type='outer')
tab3

<Table masked=True length=3>
  name     flux  flux2
string64 float64 int64
-------- ------- -----
source 1     1.2     1
source 2     2.2    --
source 3     3.1     9

In [5]:
import pandas as pd

In [ ]:
pd.DataFrame(np.array(tab))

In [ ]:
tab3.write('data/test.fits', overwrite=True)